body{
    margin-top: 20px;
    background-color: lightgray;
}
.main{
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.topbar{
    background-color: teal;
    overflow:hidden;
}
.topbar a{
    float: right;
    color: whitesmoke;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    font-size: 26px;
}
.sidebar{
    background-color:#333 ;
    color:white;
    height: 100%;
}
.sidebar a{
    margin-left: 10px;
    display: block;
    color: white;
    padding-bottom: 10px;
   
    text-decoration: none;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
}
.content{
    background-color: whitesmoke;

}
/* .card-mb-3-content{
    width:50%;
}
.col-md-4-mt-1{
    width:50%;
} */
.row{
    display: grid;
    grid-template-columns: 3.5fr 7fr;
    padding: 7px;
}
.col-md-8-mt-1{
    padding:15px;
}
.card-mb-4-content{
    padding:15px;
}
.col-md-3{
    font-size:20px;
}
.col-md-9-text-secondary{
    padding-top: 30px;
}
.col-md-8-mt-1{
    padding-left:50px;
}
.col-md-4-mt-1{
    text-align: center;
}
.card-body1{
    padding-top:100px;
}
